<a href="https://colab.research.google.com/github/Gauri210524/python-list/blob/main/Python_Lists_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists Practice Notebook

Write your answers in the code cells below each question.

### Q1. Create an empty list named data and a list numbers with values 5,10,15,20.

In [ ]:
# Write your answer here
list1 = []
list2 = [5,10,15,20]

### Q2. Create a list with int, float, string, boolean.

In [ ]:
# Write your answer here
list1 = [1,2.0,'string',True]

### Q3. From nums=[10,20,30,40,50], print first and third element.

In [1]:
# Write your answer here
nums = [10,20,30,40,50]
print(nums[0])
print(nums[2])

10
30

### Q4. Change 30 to 300 using indexing.

In [2]:
# Write your answer here
nums = [10,20,30,40,50]
nums[2] = 300
print(nums)

[10, 20, 300, 40, 50]

### Q5. Using negative indexing print last and second last element.

In [3]:
# Write your answer here
nums = [10,20,30,40,50]
print(nums[-1])
print(nums[-2])

50
40

### Q6. Update last element to 999 using negative index.

In [4]:
# Write your answer here
nums = [10,20,30,40,50]
nums[-1]= 999
print(nums)

[10, 20, 30, 40, 999]

### Q7. Slice elements from index 2 to 6.

In [5]:
# Write your answer here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[2:6])

[3, 4, 5, 6]

### Q8. Print even index elements and reverse list.

In [6]:
# Write your answer here
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list[::2])
print(my_list[::-1])

[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Q9. Append 10,20,30 one by one to empty list.

In [8]:
# Write your answer here
my_list = []
my_list.append(10)
my_list.append(20)
my_list.append(30)
print(f"after append : {my_list}")

after append : [10, 20, 30]

### Q10. Append a user entered number to a list.

In [9]:
# Write your answer here
numbers = [1,2,3,4,]
user_input = input()
numbers.append(user_input)
print(numbers)

7
[1, 2, 3, 4, '7']

### Q11. Extend [1,2,3] with [4,5,6].

In [10]:
# Write your answer here
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### Q12. Extend a list using another list.

In [11]:
# Write your answer here
list1 = [6,7,8]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[6, 7, 8, 4, 5, 6]

### Q13. Insert 100 at index 2 in [10,20,30,40].

In [12]:
# Write your answer here
list1 = [10,20,30,40]
list1.insert(2,100)
print(list1)

[10, 20, 100, 30, 40]

### Q14. Insert 'Python' at beginning of list.

In [13]:
# Write your answer here
list1 = [10,20,30,40]
list1.insert(0,'Python')
print(list1)

['Python', 10, 20, 30, 40]

### Q15. Remove value 20 from [10,20,30,20].

In [14]:
# Write your answer here
my_list = [10,20,30,20]
my_list.remove(20)
print(my_list)

[10, 30, 20]

### Q16. Try removing a value that does not exist.

In [ ]:
# Write your answer here

### Q17. Pop last element from [1,2,3,4].

In [15]:
# Write your answer here
my_list = [1,2,3,4]
my_list.pop()
print(my_list)

[1, 2, 3]

### Q18. Pop element at index 1 and store it.

In [16]:
# Write your answer here
my_list = [1,2,3,4]
my_list.pop(1)
print(my_list)

[1, 3, 4]

### Q19. Clear a list and print it.

In [17]:
# Write your answer here
my_list = [1,2,3,4]
my_list.clear()
print(my_list)

[]

### Q20. Check length before and after clear().

In [18]:
# Write your answer here
my_list = [1,2,3,4]
print(len(my_list))
my_list.clear()
print(len(my_list))

4
0

### Q21. Find length of [10,20,30,40,50].

In [19]:
# Write your answer here
my_list = [10,20,30,40,50]
print(len(my_list))

5

### Q22. Check if list is empty using len().

In [20]:
# Write your answer here
my_list = []

if len(my_list) == 0:
    print("The list is empty")
else:
    print("The list is not empty")

The list is empty

### Q23. Concatenate two lists.

In [21]:
# Write your answer here
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

### Q24. Repeat [1,2] three times and check membership of 2.

In [23]:
# Write your answer here
list1 = [1,2]
list2 = list1 * 3
print(list2)
if 2 in list2:
    print("2 is in list2")

[1, 2, 1, 2, 1, 2]
2 is in list2

### Q25. Squares from 1 to 10 using list comprehension.

In [24]:
# Write your answer here
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Q26. Numbers from 0 to 20 using list comprehension.

In [25]:
# Write your answer here
numbers = [x for x in range(21)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Q27. Cubes of 1–5 using loop.

In [26]:
# Write your answer here
cubes = []

for x in range(1, 6):
    cubes.append(x**3)

print(cubes)

[1, 8, 27, 64, 125]

### Q28. Cubes of 1–5 using list comprehension.

In [27]:
# Write your answer here
cubes = [x**3 for x in range(1, 6)]
print(cubes)

[1, 8, 27, 64, 125]

### Q29. Even numbers between 1 and 50.

In [28]:
# Write your answer here
even_numbers = [x for x in range(2, 51, 2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

### Q30. Filter marks greater than 60.

In [29]:
# Write your answer here
marks = [55, 67, 42, 89, 76, 30]
high_marks = [m for m in marks if m > 60]

print(high_marks)

[67, 89, 76]

### Q31. Label numbers Even/Odd.

In [30]:
# Write your answer here

umbers = [1, 2, 3, 4, 5, 6]
labeled_numbers = [(x, "Even" if x % 2 == 0 else "Odd") for x in numbers]

print(labeled_numbers)

[(0, 'Even'), (1, 'Odd'), (2, 'Even'), (3, 'Odd'), (4, 'Even'), (5, 'Odd'), (6, 'Even'), (7, 'Odd'), (8, 'Even'), (9, 'Odd'), (10, 'Even'), (11, 'Odd'), (12, 'Even'), (13, 'Odd'), (14, 'Even'), (15, 'Odd'), (16, 'Even'), (17, 'Odd'), (18, 'Even'), (19, 'Odd'), (20, 'Even')]

### Q32. Label salaries High/Low.

In [31]:
# Write your answer here
salaries = [30000, 60000, 45000, 80000, 50000]
threshold = 50000

labeled_salaries = [(s, "High" if s > threshold else "Low") for s in salaries]

print(labeled_salaries)

[(30000, 'Low'), (60000, 'High'), (45000, 'Low'), (80000, 'High'), (50000, 'Low')]

### Q33. Flatten [[1,2,3],[4,5,6],[7,8,9]].

In [32]:
# Write your answer here
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
flat_list = [item for sublist in nested_list for item in sublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q34. Create (x,y) pairs from 1 to 3.

In [33]:
# Write your answer here
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
flat_list = [item for sublist in nested_list for item in sublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q35. Split 'Python is very powerful'.

In [34]:
# Write your answer here
text = "Python is very powerful"
words = text.split()

print(words)

['Python', 'is', 'very', 'powerful']

### Q36. Split '10,20,30,40' into numbers.

In [35]:
# Write your answer here
text = "10,20,30,40"
numbers = [int(x) for x in text.split(',')]

print(numbers)

[10, 20, 30, 40]

### Q37. Join ['Data','Analyst','Python'] with space.

In [36]:
# Write your answer here
words = ['Data', 'Analyst', 'Python']
sentence = ' '.join(words)

print(sentence)

Data Analyst Python

### Q38. Join characters using '_' separator.

In [37]:
# Write your answer here
chars = ['a', 'b', 'c', 'd']
joined = '_'.join(chars)

print(joined)

a_b_c_d

### Q39. Filter eligible voters (age>=18).

In [38]:
# Write your answer here
ages = [12, 17, 18, 20, 15, 25]
eligible_voters = [age for age in ages if age >= 18]

print(eligible_voters)

[18, 20, 25]

### Q40. Extract positive numbers.

In [39]:
# Write your answer here
numbers = [-5, 3, 0, 7, -2, 8]
positive_numbers = [num for num in numbers if num > 0]

print(positive_numbers)

[3, 7, 8]

### Q41. Convert names to uppercase.

In [40]:
# Write your answer here
names = ['Alice', 'Bob', 'Charlie']
uppercase_names = [name.upper() for name in names]

print(uppercase_names)

['ALICE', 'BOB', 'CHARLIE']

### Q42. Add 18% GST to prices.

In [ ]:
# Write your answer here

### Q43. Convert list to tuple and set.

In [42]:
# Write your answer here
prices_with_gst = [11, 29, 59, 65]

prices_tuple = tuple(prices_with_gst)
prices_set = set(prices_with_gst)

print("Tuple:", prices_tuple)
print("Set:", prices_set)

Tuple: (11, 29, 59, 65)
Set: {65, 59, 11, 29}

### Q44. Remove duplicates by converting list to set.

In [43]:
# Write your answer here
prices_with_gst = [118.0, 295.0, 590.0, 1180.0, 295.0, 590.0]
unique_prices = set(prices_with_gst)

print("Original List:", prices_with_gst)
print("Unique Prices (duplicates removed):", unique_prices)

Original List: [118.0, 295.0, 590.0, 1180.0, 295.0, 590.0]
Unique Prices (duplicates removed): {590.0, 1180.0, 118.0, 295.0}