<a href="https://colab.research.google.com/github/Gauri210524/python-list/blob/main/python_list1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = [1,2,3,4]
list2 = ["apple","mango","guava"]
list3 = [1,"nisha",3.14]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4]
['apple', 'mango', 'guava']
[1, 'nisha', 3.14]

In [2]:
list1 = [5,10,15,20]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

5
10
15
20

In [4]:
list1 = [5,10,15,20]
print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])

20
15
10
5

In [9]:
list1 = [5,10,15,20]
print(list1[:])

[5, 10, 15, 20]

In [11]:
list1 = [5,10,15,20]
print(list1[1:4])

[10, 15, 20]

In [12]:
list1 = [5,10,15,20]
print(list1[::-1])

[20, 15, 10, 5]

In [21]:
list1 = [5,10,15,20]
print(list1[-1])

20

In [22]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list)

[[1, 2, 3, 4], 'amit', [4, 5, 6]]

In [24]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[0])

2

In [25]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[1])

amit

In [26]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[2])

[4, 5, 6]

In [31]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[0][0])
print(my_list[0][1])
print(my_list[0][2])
print(my_list[0][3])
print(my_list[1][0])
print(my_list[1][1])
print(my_list[1][2])
print(my_list[1][3])
print(my_list[2][0])
print(my_list[2][1])
print(my_list[2][2])

1
2
3
4
a
m
i
t
4
5
6

In [37]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[0][:])
print(my_list[1][:])
print(my_list[2][:])

[1, 2, 3, 4]
amit
[4, 5, 6]

In [38]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[0][::-1])
print(my_list[1][::-1])
print(my_list[2][::-1])

[4, 3, 2, 1]
tima
[6, 5, 4]

In [39]:
my_list = [[1,2,3,4,],"amit",[4,5,6]]
print(my_list[0][::])
print(my_list[1][::])
print(my_list[2][::])

[1, 2, 3, 4]
amit
[4, 5, 6]

In [43]:
my_list2 = [[1,2,3],["a","b","c"],[5,6]]
print(my_list2)
print(my_list2[1][1])

[[1, 2, 3], ['a', 'b', 'c'], [5, 6]]
b

In [44]:
# empty list
my_list = []
print(my_list)

[]

In [55]:
my_list = ["java", "html",]
my_list.append("css")